@keyframes loader-spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Inter;
}

body {
	background-color: var(--light-2);
}

:root {
	--bg-gradient-light: linear-gradient(120deg, #6ed5ff 0%, #4560db 100%);
	--bg-gradient: linear-gradient(100deg, #5f43ff 0%, #91e3ff 100%);

	--theme-1: #5793ff;
	--theme-2: #5792ff;
	--theme-3: #3a73ff;
	--theme-4: #275aff;

	--light-blue-1: rgb(209, 226, 255);
	--light-blue-2: rgb(173, 204, 255);

	--light-1: #fff;
	--light-2: #f1f5f9;
	--light-3: #eee;
	--light-3: #e5e5e5;

	--dark-1: #000;
	--dark-2: #222;
	--dark-3: #444;
	--dark-4: #666;
	--dark-5: #999;
	--dark-6: #bbb;

	--red: #ff4f67;
	--green: #1bd6ae;
	--yellow: #eaa000;

	--page-aside-padding: 40px;
}

.mantine-Alert-root {
	margin: 15px 0;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.mantine-Modal-modal {
	background-color: var(--light-2);
}

.loader {
	margin: auto;
	display: block;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.auth-page {
	flex-direction: row;
	background-color: var(--light-2);
}

.auth-page-aside {
	position: relative;
	width: 300px;
	height: calc(100vh - 2 * var(--page-aside-padding));
	top: var(--page-aside-padding);
	margin: 0 var(--page-aside-padding);
	flex: 0 0 auto;
	border-radius: 10px;
	padding-bottom: 25px;
	box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	background-color: var(--light-1);
	z-index: 1;
	background-image: var(--bg-gradient-light);
}

.auth-page-loader {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 100px;
	right: 0;
}

.auth-page-aside-logo {
	font-size: 1.7rem;

	/* background: var(--bg-gradient-light);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	color: var(--light-1);

	padding: 20px;
	margin-top: 30px;
	flex: 0 0 auto;
}

.auth-page-aside > main {
	padding: 25px 25px 0 25px;
	position: relative;
	margin-top: 60px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.auth-page-aside-logout {
	width: 100%;
}

.auth-page-nav-link {
	border-radius: 6px;
	margin-top: 5px;
	transition: background 0.2s;
}

.auth-page-main {
	width: 100%;
	margin-top: var(--page-aside-padding);
	padding: var(--page-aside-padding) calc(2 * var(--page-aside-padding))
		var(--page-aside-padding) var(--page-aside-padding);
	position: relative;
}

.auth-page-main-add {
	position: absolute;
	bottom: 70px;
	right: 70px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	font-size: 2rem;
}

.auth-page-aside-profile {
	display: flex;
	justify-content: stretch;
	align-items: center;
	padding-bottom: 20px;
}

.auth-page-aside-profile > img {
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}

.auth-page-main-title {
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: -1px;
	margin-bottom: 25px;
}

.auth-page-header {
	display: flex;
	justify-content: space-between;
}

.auth-page-header-back {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4.5px;
	margin-bottom: 10px;
	color: var(--theme-1);
	text-decoration: none;
	display: block;
	padding: 12px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: background-color 0.2s;
}

.auth-page-header-back:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.auth-page-header-back span {
	position: relative;
	top: 3px;
}

.auth-page-header-actions > * {
	margin-right: 10px;
}
.image-tile {
	border-radius: 5px;
	overflow: hidden;
	background-color: var(--light-1);
	box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.07);
	transition: box-shadow 0.2s, color 0.2s, background-color 0.2s;
	cursor: pointer;
	max-width: 320px;
}

.image-tile:hover {
	box-shadow: 0px 5px 80px 0px rgba(0, 0, 0, 0.2);
	background-color: var(--light-2);
}

.image-tile:hover p {
	color: var(--theme-1);
}

.image-tile-image {
	width: 100%;
	height: 180px;
	object-fit: cover;
	box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.image-tile p {
	font-weight: 500;
	font-size: 0.75rem;
	padding: 10px 12px 12px 12px;
	color: var(--dark-5);
	position: relative;
	z-index: 1;
}

.image-tiles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	column-gap: 18px;
	row-gap: 18px;
	margin-bottom: 20px;
}
